In [2]:
import requests

response = requests.get("https://disease.sh/v3/covid-19/countries")
data = response.json()
print(data[0])

{'updated': 1746440036324, 'country': 'Afghanistan', 'countryInfo': {'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat': 33, 'long': 65, 'flag': 'https://disease.sh/assets/img/flags/af.png'}, 'cases': 234174, 'todayCases': 0, 'deaths': 7996, 'todayDeaths': 0, 'recovered': 211080, 'todayRecovered': 0, 'active': 15098, 'critical': 0, 'casesPerOneMillion': 5746, 'deathsPerOneMillion': 196, 'tests': 1390730, 'testsPerOneMillion': 34125, 'population': 40754388, 'continent': 'Asia', 'oneCasePerPeople': 174, 'oneDeathPerPeople': 5097, 'oneTestPerPeople': 29, 'activePerOneMillion': 370.46, 'recoveredPerOneMillion': 5179.32, 'criticalPerOneMillion': 0}

In [3]:
import pandas as pd
import numpy as np

In [4]:
covid_data = pd.DataFrame(data)

In [5]:
covid_data.tail()

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
226,1746440036441,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",3550,0,8,0,438,0,3104,...,20508,1867419,10982,Australia-Oceania,3,1373,1,282644.33,39883.45,0.00
227,1746440036451,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",10,0,1,0,9,0,0,...,0,0,626161,Africa,62616,626161,0,0.00,14.37,0.00
228,1746440036419,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",11945,0,2159,0,9124,0,662,...,329592,10579,31154867,Asia,2608,14430,95,21.25,292.86,0.00
229,1746440036314,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",349304,0,4069,0,341316,0,3919,...,4112961,211244,19470234,Africa,56,4785,5,201.28,17530.14,0.00
230,1746440036321,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",266359,0,5740,0,258888,0,1731,...,2525756,164744,15331428,Africa,58,2671,6,112.91,16886.10,0.78

In [6]:
covid_data.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   updated                 231 non-null    int64
 1   country                 231 non-null    object
 2   countryInfo             231 non-null    object
 3   cases                   231 non-null    int64
 4   todayCases              231 non-null    int64
 5   deaths                  231 non-null    int64
 6   todayDeaths             231 non-null    int64
 7   recovered               231 non-null    int64
 8   todayRecovered          231 non-null    int64
 9   active                  231 non-null    int64
 10  critical                231 non-null    int64
 11  casesPerOneMillion      231 non-null    int64
 12  deathsPerOneMillion     231 non-null    int64
 13  tests                   231 non-null    int64
 14  testsPerOneMillion      231 non-null    int64
 15  population              231 non-null    int64
 16  continent               231 non-null    object
 17  oneCasePerPeople        231 non-null    int64
 18  oneDeathPerPeople       231 non-null    int64
 19  oneTestPerPeople        231 non-null    int64
 20  activePerOneMillion     231 non-null    float64
 21  recoveredPerOneMillion  231 non-null    float64
 22  criticalPerOneMillion   231 non-null    float64
dtypes: float64(3), int64(17), object(3)
memory usage: 125.4 KB

In [7]:
covid_data.isna().sum()

updated                   0
country                   0
countryInfo               0
cases                     0
todayCases                0
deaths                    0
todayDeaths               0
recovered                 0
todayRecovered            0
active                    0
critical                  0
casesPerOneMillion        0
deathsPerOneMillion       0
tests                     0
testsPerOneMillion        0
population                0
continent                 0
oneCasePerPeople          0
oneDeathPerPeople         0
oneTestPerPeople          0
activePerOneMillion       0
recoveredPerOneMillion    0
criticalPerOneMillion     0
dtype: int64

In [10]:
covid_data.describe().round(2)

,updated,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,critical,casesPerOneMillion,deathsPerOneMillion,tests,testsPerOneMillion,population,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
count,2.310000e+02,2.310000e+02,231.0,231.00,231.0,2.310000e+02,231.00,231.00,231.00,231.00,231.00,2.310000e+02,231.00,2.310000e+02,231.00,231.00,231.00,231.00,231.00,231.00
mean,1.746440e+12,3.050883e+06,0.0,30349.27,0.0,2.426700e+06,3.57,593833.52,12.45,201193.11,1238.64,3.041777e+07,1987979.60,3.439366e+07,398.03,13956.64,9.85,63981.51,135973.00,2.25
std,7.379000e+01,1.002125e+07,0.0,109231.35,0.0,9.196220e+06,34.56,3893881.30,71.17,206119.72,1308.86,1.154321e+08,3549881.35,1.380709e+08,4129.30,56248.64,25.83,149135.70,185767.24,9.77
min,1.746440e+12,9.000000e+00,0.0,0.00,0.0,0.000000e+00,0.00,0.00,0.00,0.00,0.00,0.000000e+00,0.00,0.000000e+00,0.00,0.00,0.00,0.00,0.00,0.00
25%,1.746440e+12,2.636600e+04,0.0,185.50,0.0,2.189500e+03,0.00,67.50,0.00,17656.50,133.50,2.260585e+05,84659.00,4.281115e+05,3.00,461.50,0.00,21.88,834.90,0.00
50%,1.746440e+12,2.068970e+05,0.0,1974.00,0.0,5.894700e+04,0.00,1283.00,0.00,128681.00,783.00,1.690934e+06,717380.00,5.554960e+06,7.00,1094.00,1.00,449.53,32797.45,0.00
75%,1.746440e+12,1.348198e+06,0.0,14287.00,0.0,1.032544e+06,0.00,27755.50,0.00,328620.50,2040.00,1.169128e+07,2126400.50,2.183934e+07,50.50,5627.00,5.00,12969.70,222352.34,0.00
max,1.746440e+12,1.118201e+08,0.0,1219487.00,0.0,1.098144e+08,390.00,44501823.00,940.00,771655.00,6595.00,1.186852e+09,23302116.00,1.448471e+09,62616.00,626161.00,196.00,703390.00,763121.61,100.65

In [15]:
country_wise_cd = covid_data.pivot_table(index='country', values=['deaths', 'cases'], aggfunc={'deaths':'sum', 'cases':'sum'})

In [22]:
country_wise_cd['deaths'].sort_values(ascending = False).head(10)

country
USA        1219487
Brazil      711380
India       533570
Russia      402756
Mexico      334958
UK          232112
Peru        222161
Italy       196487
Germany     183027
France      167642
Name: deaths, dtype: int64

In [23]:
country_wise_cd['cases'].sort_values(ascending = False).head(10)

country
USA         111820082
India        45035393
France       40138560
Germany      38828995
Brazil       38743918
S. Korea     34571873
Japan        33803572
Italy        26723249
UK           24910387
Russia       24124215
Name: cases, dtype: int64